* {
    box-sizing: border-box;
}

.horizon {
    background-color: blueviolet;
    height: 5px;
    margin: 50px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid black;
}

button {
    cursor: pointer;
}

.circle_btn {
    border-radius: 50%;
    border-width: 0;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.plus {
    background-color: skyblue;
}

.minus {
    background-color: plum;
}

.new__button {
    width: 90px;
    margin: 2px;
}

#new-area {
    padding-top: 10px;
    width: 300px;
}